{% extends "model-page.html" %}

{% block content %}
    <h2>Seus agendamentos</h2>
    <a href="evento/" style="text-decoration: none">
        <button type="button">Criar agendamento</button>
    </a>
    <a href="historico/" style="text-decoration: none">
        <button type="button">Agendamentos terminados</button>
    </a>
    <ul class="itens">
    {% for evento in eventos %}

            <div style={% if evento.get_evento_atrasado %}
                        "color:red"
                        {% elif evento.get_evento_terminando %}
                        "color:yellow"
                        {% else %}
                        "color:balck"
                        {% endif %} id="items_agenda">
                <li>
                    {{ evento.titulo }} - {{ evento.get_data_evento }}
                    ( Local: {{ evento.local }} )
                    <div id="buttons" align="right">
                        <a href="evento/?id={{ evento.id }}" class="edit"> Editar </a>
                        <a href="evento/delete/{{ evento.id }}/" class="delet"> Excluir </a>
                    </div>
                </li>
            </div>

    {% endfor %}
    </ul>
{% endblock %}